body {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

/* header and footer areas */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.menu li {
  border: 0.1px solid black;
  display: inline-block;
}
.menu a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
}
.menu, footer { text-align: center; }
footer { font-size: small; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
}

/* code */
pre {
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #fff;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
p {
  max-width: 40em;
}
img, iframe, video { max-width: 100%; }
img {
  height: auto;
  width: auto;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #fff; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #fff; }
h1 {
  font-size: 3em;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  text-align: center;
}
ul {
  padding-inline-start: 1.5em;
  padding-inline-end: 0.75em;
}

.images {
  text-align: center;
}

/* abouts */
ul.abouts,
ul.seasons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1em;
}
ul.abouts > li,
ul.seasons > li {
  border: 0.1px solid black;
  flex: 1 20em;
  padding: 1em;
}

/* infos */
.info {
  margin-block-start: 1em;
  margin-block-end: 3em;
}

.cover {
  margin-block-start: 3em;
  margin-block-end: 3em;
  text-align: center;
}

.top {
  font-size: small;
  margin: 0;
  text-align: center;
}
