/* mapframe */

.mapframe {
  min-height: 20em;
  width: 100%;
}
.mapframe > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 100%;
  width: 100%;
}
.mapframe > a > iframe {
  display: block;
  pointer-events: none;

  height: calc(100vh - 2em);
  max-height: 60em;

  width: calc(100vw - 2em);
  max-width: 45em;

  border: none;
}
