* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* header and footer areas */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.menu li {
  border: 0.1px solid black;
  display: inline-block;
}
.menu a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
}
.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer { font-size: small; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  width: 100%;
}

/* code */
pre {
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #fff;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
footer, main, nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
p {
  max-width: 40em;
}
img, iframe, video {
}
img {
  height: auto;
  width: auto;
}
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #fff; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #fff; }
h1 {
  font-size: 3em;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  text-align: center;
}
h3, h4 {
  width: 100%;
}
ul {
  padding-inline-start: 1.5em;
  padding-inline-end: 0.75em;
}

.images {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.images > img {
  margin: 0.5em;
  max-width: calc(100% - 1em);
  object-fit: contain;
}

/* abouts */
ul.abouts,
ul.seasons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1em;
  width: 100%;
  overflow: scroll;
}
ul.abouts > li,
ul.seasons > li {
  border: 0.1px solid black;
  flex: 1 20em;
  flex-shrink: 2;
  padding: 1em;
  overflow: scroll;
}

/* infos */
.infos {
  margin-block-start: 1em;
  margin-block-end: 3em;
}

.cover {
  margin-block-start: 3em;
  margin-block-end: 3em;
  text-align: center;
}

.top {
  font-size: small;
  margin: 0;
  text-align: center;
}

/* map */

.map {
  border: 1px solid black;
  font-size: xx-large;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

/* mapframe */

.mapframe {
  min-height: 20em;
  width: 100%;
}
.mapframe > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 100%;
  width: 100%;
}
.mapframe > a > iframe {
  display: block;
  pointer-events: none;

  height: calc(100vh - 2em);
  max-height: 60em;

  width: calc(100vw - 2em);
  max-width: 45em;
}
