{{- $pages := .Pages -}}
{{- $sectionPages := where $pages "Section" "!=" "" -}}
{{- $gardenPages := where $sectionPages "Params.tags" "intersect" (slice "庭園") -}}
{{- $buildingPages := where $sectionPages "Params.tags" "intersect" (slice "建物") -}}

{{- partial "header.html" . -}}
<h1>{{ .Title | markdownify }}</h1>
{{- .Content -}}
<h3>庭園について</h3>
<ul class="{{ .Section }}">
{{- range (sort $gardenPages ".Params.subscript") -}}
  {{- partial "about.html" . -}}
{{- end -}}
</ul>
<h3>建物について</h3>
<ul class="{{ .Section }}">
{{- range (sort $buildingPages ".Params.subscript") -}}
  {{- partial "about.html" . -}}
{{- end -}}
</ul>
{{- partial "footer.html" . -}}
